.sideMenu{
    width: 50px;
    height: 100vh;
    background-color:#272727;
    display: inline-block;
    margin-top: -53px;
    position: absolute;
}

.sideMenu div {
    display: flex;
    flex-direction:column;
    width:100%;
    height: 50vh;
    justify-content:center;
    margin:auto;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size:16px;
    box-sizing: border-box;
}
.info{
    padding-top: 225px;
}
.sideMenu div:hover{
    cursor: pointer;
    background-color:#D80629;
}

.active{
    background-color:#D80629;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.InfoPosition{
    padding-top:130px;
}
.skillPosition{
    padding-top:80px;

}

@media(max-width:768px){
    .skillPosition{
        padding-top:50px;
        h1{
            text-align:center;
            margin-bottom: 25px;
        }
    }
    .sideMenu{
        width: 100%;
        height: 35px;
        background-color:#272727;
        display:block;
        margin: 0px;
        position: fixed;
      bottom: 0px;
    }
    .sideMenu div {
        display:inline-flex;
        flex-direction:row;
        width:50%;
        height: 35px;
        justify-content:center;
        margin:0px 0px;
        writing-mode: horizontal-tb;
        text-orientation: sideways;
        font-size:16px;
        box-sizing: border-box;
    }
    .info{
        padding-top: 0px;
        display: inline-block;
        margin: 0px;
        font-size: 1.3em;
    }
    .tech{
        display: inline-block;
        margin: 0px;

    }
   
}