.footer{
position: fixed;
bottom: 5%;
left: 15%;
}
.icons{ 
    img {
    cursor: pointer;
    width: 65%;
    background-color: white;
    border-radius: 10px;
    }
 span {
    display: block;
    padding-bottom: 5px;
    }
}
.contact{
    text-align: left;

    h4 {
    cursor: default;
    margin:4px;
    }
    p {
    cursor: default;
    margin:4px;
    }
}
@media (max-width:1136px){
    .footer{
        position: fixed;
        bottom: 5%;
        left: 6%;
        }
}
@media (max-width:770px){
    .icons{ 
        img {
        width: 45%;  
        }
    }
}
@media (max-width:426px){
    .icons{ 
        img {
        width:65%;  
        }
        span {
            display: inline-block;
            padding-top: 10px;
        }

    }
}