.mainNav{
    margin-top:20px;
    text-align: center;
    font-size: 22px;
    a{
        color: white;
        text-decoration: none;
    }
    a:hover{
        color:#84C9FB;
     }
    .menuIcon:active{
        transform: rotate(-45deg);
     }
}
