.App {
  width: 100%;
  height: 100vh;
  background-color: #121212;
  color: white;
}

main {
  height: 100vh;
}

nav {
  width: 100%;
  font-size: 1.2em;
}

.header {
  margin: 0px;
  padding: 35px 50px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header li {
  padding: 0px 20px;
}

.header li a {
  color: white;
  text-decoration: none;
}

.header li a:hover {
  color: #84C9FB;
  border-bottom: 2px solid #84C9FB;
}

@media (max-width: 321px) {
  .header {
    padding: 20px;
  }
}

.content {
  width: 40%;
  margin: 140px 170px;
}

.content h1 {
  margin: 0px;
  font-size: 4em;
}

.content h2 {
  margin: 0px;
  font-size: 2.5em;
}

@media (max-width: 1024px) {
  .content {
    width: 40%;
    margin: 135px 100px;
  }
  .content h1 {
    margin: 0px;
    font-size: 3em;
  }
  .content h2 {
    margin: 0px;
    font-size: 2.0em;
  }
}

@media (max-width: 768px) {
  .content {
    width: 45%;
    margin: 130px 60px;
  }
  .content h1 {
    margin: 0px;
    font-size: 3em;
  }
  .content h2 {
    margin: 0px;
    font-size: 2.0em;
  }
}

@media (max-width: 425px) {
  .content {
    width: 60%;
    margin: 130px 60px;
  }
  .content h1 {
    margin: 0px;
    font-size: 3em;
  }
  .content h2 {
    margin: 0px;
    font-size: 1.5em;
  }
}

@media (max-width: 375px) {
  .content {
    width: 65%;
    margin: 130px 60px;
  }
  .content h1 {
    margin: 0px;
    font-size: 3em;
  }
  .content h2 {
    margin: 0px;
    font-size: 1.5em;
  }
}

@media (max-width: 320px) {
  .content {
    width: 70%;
    margin: 95px 40px;
  }
  .content h1 {
    margin: 0px;
    font-size: 2.5em;
  }
  .content h2 {
    margin: 0px;
    font-size: 1.3em;
  }
}

.sideMenu {
  width: 50px;
  height: 100vh;
  background-color: #272727;
  display: inline-block;
  margin-top: -61px;
  position: absolute;
}

.sideMenu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info {
  padding-top: 225px;
}

.sideMenu div:hover {
  cursor: pointer;
  background-color: #D80629;
}

.active {
  background-color: #D80629;
}

.aboutInfo {
  margin-top: 100px;
  margin-left: 170px;
  width: 35%;
}

.aboutInfo a {
  text-decoration: none;
  color: white;
}

.aboutInfo a:hover {
  color: #84C9FB;
}

.aboutTech {
  margin-top: 100px;
  margin-left: 170px;
  width: 35%;
}

.aboutTech h1 {
  text-align: center;
  text-decoration: underline;
}

.techCard {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .aboutInfo {
    margin-top: 95px;
    margin-left: 140px;
    width: 41%;
  }
  .aboutTech {
    margin-top: 55px;
    margin-left: 125px;
    width: 40%;
  }
  .aboutTech h1 {
    font-size: 1.5em;
  }
  .techCard p {
    margin-top: 5px;
  }
}

@media (max-width: 426px) {
  .sideMenu {
    width: 100%;
    height: 35px;
    background-color: #272727;
    display: block;
    margin: 0px;
    position: absolute;
    bottom: 0px;
  }
  .sideMenu div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    height: 35px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
    text-orientation: sideways;
    font-size: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .info {
    padding-top: 0px;
    display: inline-block;
    margin: 0px;
    font-size: 1.3em;
  }
  .tech {
    display: inline-block;
    margin: 0px;
  }
  .aboutInfo {
    margin-top: 50px;
    margin-left: 50px;
    width: 81%;
  }
  .aboutInfo a {
    text-decoration: none;
    color: #84C9FB;
  }
  .aboutTech {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.icons {
  margin: 13px 80px;
}

.icons img {
  cursor: pointer;
  width: 35px;
  background-color: white;
  border-radius: 8px;
}

.icons span {
  padding-right: 5px;
}

.contact h4 {
  cursor: default;
  margin: 0px;
}

.contact p {
  cursor: default;
  margin: 0px;
}

@media (max-width: 769px) {
  .contact h4 {
    font-size: 1em;
  }
  .contact p {
    font-size: 0.9em;
  }
  .icons {
    margin: 13px 50px;
  }
}

@media (max-width: 426px) {
  .mobile {
    display: none;
  }
  .contact h4 {
    font-size: 1em;
  }
  .contact p {
    font-size: 0.9em;
  }
  .icons {
    margin: 20px 30px;
  }
  .footer {
    bottom: 0px;
  }
}

@media (max-width: 376px) {
  .icons {
    margin: 20px 12px;
  }
}

@media (max-width: 321px) {
  .icons img {
    width: 30px;
  }
  .icons {
    margin: 15px 8px;
  }
  .contact {
    margin-left: 15px;
  }
}

.projects {
  width: 90%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.projectCard {
  width: 24%;
  margin-right: 1%;
  margin-top: 10px;
  background-color: #272727;
  display: inline-block;
  border-radius: 12px;
}

.projectCard:hover {
  cursor: pointer;
  background-color: #383838;
}

.imgContainer {
  width: auto;
  margin: 10px;
}

.imgContainer img {
  width: 100%;
}

.projectCard h1 {
  margin: 0px 0px 10px 0px;
  text-align: center;
}

@media (max-width: 1024px) {
  .projectCard h1 {
    font-size: 1.5em;
  }
}

@media (max-width: 768px) {
  .projectCard h1 {
    font-size: 1.3em;
  }
  .projectCard {
    width: 35%;
  }
}

@media (max-width: 426px) {
  .projectCard h1 {
    font-size: 1.3em;
  }
  .projectCard {
    width: 45%;
  }
}

@media (max-width: 375px) {
  .projectCard h1 {
    font-size: 1.3em;
  }
  .projectCard {
    width: 100%;
    margin-right: 0px;
  }
}

.detailed_card {
  width: 40%;
  height: 400px;
  background-color: #252525;
  margin-top: 75px;
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-preview {
  display: inline-block;
  margin: 0px;
  width: 50%;
  height: 400px;
  background-color: #2E2E2E;
  text-align: center;
}

.project-preview h1 {
  margin-top: 5px;
}

.project-preview h3 {
  padding-left: 10px;
  text-align: left;
}

.project-preview p {
  padding-left: 10px;
  text-align: left;
  font-size: 13px;
}

.project-description {
  display: inline-block;
  margin: 0px;
  width: 50%;
  height: 400px;
  text-align: center;
}

.techCard-small {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.techCard-small img {
  width: 100%;
}

.techCard-small p {
  margin: 0px;
}

.project-description a {
  cursor: pointer;
  position: relative;
  bottom: -50px;
  display: block;
  color: #E8E8E8;
  border-radius: 2px;
  border: none;
  margin: auto;
  margin-top: 15px;
  text-align: center;
  background-color: #121212;
  width: 65%;
  padding: 5px 0px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .detailed_card {
    width: 70%;
    margin-top: 65px;
    margin-left: 15%;
  }
  .project-preview h1 {
    font-size: 1.7em;
  }
}

@media (max-width: 426px) {
  .detailed_card {
    width: 80%;
    margin-top: 35px;
    margin-left: 10%;
    height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-preview {
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: 250px;
    background-color: #2E2E2E;
    text-align: center;
  }
  .project-preview .imgContainer {
    width: 60%;
    margin: 10px auto;
    margin-bottom: 0px;
  }
  .project-description {
    display: inline-block;
    margin: 0px;
    width: 100%;
    height: 250px;
    text-align: center;
  }
  .techCard-small img {
    width: 50%;
  }
  .project-description a {
    bottom: -20px;
    width: 55%;
    margin-top: 10px;
  }
  .project-preview h1 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .project-preview h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    text-align: left;
  }
  .project-preview h1 {
    font-size: 1.4em;
  }
}

@media (max-width: 321px) {
  .project-preview .imgContainer {
    width: 75%;
  }
}

.hire-me {
  width: 40%;
  height: 375px;
  background-color: #272727;
  border-radius: 5px;
  margin-left: 100px;
  margin-top: 50px;
  text-align: center;
}

.hire-me-button {
  width: 50%;
  margin: 0px;
  background-color: #272727;
  border: none;
  color: #D80629;
  font-size: 16px;
  padding: 8px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.completed {
  color: #57A85C;
}

.hire-me-button:focus {
  outline: none;
}

.personalInput {
  width: 70%;
  height: 2em;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: #1E1E1E;
  color: white;
}

.form-button {
  background-color: #121212;
  color: white;
  width: 30%;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: 72px;
  padding: 5px 0px 5px 0px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.projectDetails p {
  font-size: 1em;
  margin-bottom: 5px;
  margin-top: 30px;
}

.projectDropdown {
  width: 50%;
  height: 2em;
  background-color: #1E1E1E;
  color: white;
  border: none;
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */