.App{
    width:100%;
    height: 100vh;
    background-color: #121212;
    color:white;
    overflow-y:scroll;
}
main{
    height: 100vh;
}


// .logo{
//     margin: 1px auto;
//     height: 30px;
//     width:30px;
//     border:3px solid #D80629;
//     color:#D80629 ;
//     font-size: 26px;
//     font-weight: bold;
//     font-family: monospace;
//     text-align: center;
//     border-radius: 100%;
// }


@import "header";
@import "content";
@import "about";
@import "footer";
@import "projects";
@import "singleProject";
@import "hire-me"